@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --bg: #116087;
  --panel: #191414;
  --muted: #BDB6B6;
  --accent: #F3C400;
  --card: #151213;
  --soft: #1E1A1A;
  --radius: 14px;
}

* {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Urbanist", sans-serif;
}

.Primary-bg {
  background-color: var(--bg) !important;
}



.urbanfont {
  font-family: serif !important;
}