
@import "tailwindcss";

:root {
  --bg: #116087;
  --panel: #191414;
  --muted: #BDB6B6;
  --accent: #F3C400;
  --card: #151213;
  --soft: #1E1A1A;
  --radius: 14px;
}

* {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Urbanist", sans-serif;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-urbanist);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
}

.Primary-bg {
  background-color: var(--bg) !important;
}





.connector {
    position: absolute;
    top: 40px;
    left: 58%;
    width: 88%;
    height: 2px;
}

.connector::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        #0b6a99 50%,
        transparent 50%
    );

    background-size: 10px 2px;
}

.connector-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #0b6a99;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.connector-dot.start {
    left: -4px;
}

.connector-dot.end {
    right: -4px;
}