
@import "tailwindcss";

:root {
  --bg: #116087;
  --panel: #191414;
  --muted: #BDB6B6;
  --accent: #F3C400;
  --card: #151213;
  --soft: #1E1A1A;
  --radius: 14px;
}

* {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Urbanist", sans-serif;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: var(--font-urbanist);
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather);
}

.Primary-bg {
  background-color: var(--bg) !important;
}

